{
    "presets": [
        "@babel/preset-env",
        ["@babel/preset-react", {
          "typescript": true
        }],
        ["@babel/preset-typescript", {
          "allExtensions": true,
          "isTSX": true
        }]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-typescript"
        ]
    ]
  }